/*----------------------------HEADER------------------------------------*/
#headerVideo{
	width: 100vw!important;
}

#headerVideo>div{
	display: block!important;
}

#contactForm {
	width: 100vw;
	background-color: #25303c;
	padding: 5vh 30vw;
	color: white;
	box-sizing: border-box;
}

[data-id="d867cc3"]>div{
	padding: 0px!important;
}

[data-id="0aaef67"]>div{
	margin: 0px!important;
}

/*-----------------------RESPONSIVE-----------------*/
@media (max-width: 768px) or (orientation:portrait){

	#contactForm {
			padding: 5vh 5vw;
	}

	[data-id="2cd3fd03"]>.elementor-column-wrap{
		display: none;
	}

	#sectionQuote{
		margin-top: 7vh!important;
	}

	[data-id="ddd070a"]>.elementor-column-wrap{
		margin-left:0px!important;
	}

	#sectionQuote>.elementor-container>.elementor-row{
		flex-direction: column-reverse;
	}

	#sousSectionCourchevel h3{
		font-size: 2em!important;
	}

}