@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');


/*-----------------------------------GENERAL -------------------------------------------------------*/

/* Police */
html,body{
	width: 100vw;
}

body{
	font-family: Roboto,Sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	overflow:hidden;

}

/*Logo Nav*/
#site-logo img{
	height:100%;
}




