@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');


/*-----------------------------------GENERAL -------------------------------------------------------*/

/* Police */
html,body{
	width: 100vw;
}

body{
	font-family: Roboto,Sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	overflow:hidden;

}

/*Menus*/

#site-logo img{
	height:100%;
}

#site-navigation span{
	font-family: Roboto;
    font-weight: 300;
    font-size: 1.2em;
}

#menu-footer{
	display: flex;
	justify-content: space-around;
}

#footer-widgets{
	background-color: #25303c!important;
	padding: 10px 0!important;
	margin: 0!important;
	border-top: 3px solid white!important;
}




